<!DOCTYPE html>
<html>
  <head>
    <title>Mod1</title>
  </head>
  <body>
    <script src="static/webcam.js"></script>

    <div id="my_camera" style="width:200px; height:200px;"></div>
    <div id="my_result"></div>

    <script language="JavaScript">
      Webcam.set({
        width: 320,
        height: 240,
        image_format: 'jpeg',
        jpeg_quality: 90,
        crop_width: 200,
        crop_height: 200
      });
      Webcam.attach( '#my_camera' );
      
      function take_snapshot() {
        Webcam.snap( function(data_uri) {
          document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
          console.log(data_uri)
          sessionStorage.setItem("data",data_uri)
        } );
      }
      

      
    </script>
    
    <a href="javascript:void(take_snapshot())">Take Snapshot</a>
    
  </body>
</html>