<!DOCTYPE html>
<html>
<head>
    <title>Mod1</title>
    <script src="static/webcam.js"></script>
    <script src="static/jquery-3.5.1.js"></script>
    <script src="static/jquery.redirect.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Team Members
                    </a>
                </li>
            </ul>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://www.linkedin.com/in/mark-alcocer-9146a912">Mark Alcocer</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/clay-beaver-3a46b31b0">Clay Beaver</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/john-boer-1136a994">John Boer</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/neil-vora-0b026059">Neil Vora</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GitHub Repository
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            href="https://github.com/JB713/proj3-team04/blob/main/README.md">Project
                            Description</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="row">
        <div class="col-md-12">
            <div class="portfolioHeader">
                <h1 class="text-center">American Sign Language Interpreter</h1>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class=col-md-4>
                <div id="my_camera" style="width:200px; height:200px;"><h1 class="display-2">Video</h1>
                <a href="javascript:void(take_snapshot())">Take Snapshot</a>
                </div>
            </div>
            <div class=col-md-4>You spelled the letter A in American Sign Language!
            </div>
            <div class=col-md-4>
                <div id="my_result"><p>Please make your sign in the GREEN square above</p>
                </div>
            </div>
        </div>
    </div>

<script language="JavaScript">
    Webcam.set({
        width: 320,
        height: 240,
        image_format: 'jpeg',
        jpeg_quality: 90,
        crop_width: 200,
        crop_height: 200
    });
    Webcam.attach('#my_camera');

    function take_snapshot() {
        Webcam.snap(function (data_uri) {
            document.getElementById('my_result').innerHTML = '<img src="' + data_uri + '"/>';
            const predictURL = '/image'
            const sendPkg = {
                imgBase64: `${data_uri}`
            };

            var request = $.ajax({
                type: "POST",
                url: predictURL,
                data: JSON.stringify(sendPkg),
                contentType: "application/json",
                statusCode: {
                    200: () => console.log('ajax call receives response')
                },
            });

            request.done(function (resp) {
                console.log(`receive msg from server ${resp.response}`);
            });

            request.fail(function (jqXHR, textStatus) {
                console.log(`Request failed: " + ${textStatus}`);
            });

        });
    }
</script>

<a href="javascript:void(take_snapshot())">Take Snapshot</a>
<p hidden>{{ prediction }}</p>
</body>
</html>