<!DOCTYPE html>
<html>

<head>
    <title>Mod1</title>
    <script src="static/webcam.js"></script>
    <script src="static/jquery-3.5.1.js"></script>
    <script src="static/jquery.redirect.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" -->
        <!-- integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Team Members
                    </a>
                </li>
            </ul>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://www.linkedin.com/in/mark-alcocer-9146a912">Mark Alcocer</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/clay-beaver-3a46b31b0">Clay Beaver</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/john-boer-1136a994">John Boer</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/neil-vora-0b026059">Neil Vora</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GitHub Repository
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            href="https://github.com/JB713/proj3-team04/blob/main/README.md">Project
                            Description</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav> -->




    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-custom">
            <a class="navbar-brand" href="index.html"></a><Menu></Menu></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Team Members
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://www.linkedin.com/in/mark-alcocer-9146a912">Mark Alcocer</a>
                            <a class="dropdown-item" href="https://www.linkedin.com/in/clay-beaver-3a46b31b0">Clay Beaver</a>
                            <a class="dropdown-item" href="https://www.linkedin.com/in/john-boer-1136a994">John Boer</a>
                            <a class="dropdown-item" href="https://www.linkedin.com/in/neil-vora-0b026059">Neil Vora</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/JB713/proj3-team04" target="_blank">Github Repository</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="portfolioHeader">
                <h1 class="text-center">American Sign Language Interpreter</h1>
            </div>
        </div>
    </div>
    

    <div class="container">
        <div class="row">
            <div class=col-md-4>
                <div id="my_camera" style="width:200px; height:200px;">
                    <h1 class="display-2"></h1>
                </div>
            </div>
            <div class=col-md-4>
                <div class="prediction" id='prediction'></div>
            </div>
            <div class=col-md-4>
                <div id="my_result">
                    <p>Result Image</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class='buttons' href="javascript:void(take_snapshot())">Take Snapshot</a>
            </div>
            <div class="col-md-4">
                <a class='label'>Prediction</a>
                <!-- HAVING TROUBLE CENTERING PREDICTION -->
            </div>
            <div class="col-md-4">
                <a class='label'>Image Capture</a>
            </div>
        </div>
    </div>    

<!-- HAVING TROUBLE WITH IMAGE BELOW -->
    <div class="row">                         
        <div class="col-md-12"></div>
            <a>
                <img src="ASLguide.png" style="display: block; margin-left: auto; margin-right: auto; width: 60%;">
            </a>
        </div>
    </div>

    <script language="JavaScript">
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90,
            crop_width: 200,
            crop_height: 200
        });
        Webcam.attach('#my_camera');

        function take_snapshot() {
            Webcam.snap(function (data_uri) {
                document.getElementById('my_result').innerHTML = '<img src="' + data_uri + '"/>';
                const predictURL = '/image'
                const sendPkg = {
                    imgBase64: `${data_uri}`
                };

                var request = $.ajax({
                    type: "POST",
                    url: predictURL,
                    data: JSON.stringify(sendPkg),
                    contentType: "application/json",
                    statusCode: {
                        200: () => console.log('ajax call receives response')
                    },
                });

                request.done(function (resp) {
                    console.log(`receive msg from server ${resp.response}`);
                    var response = resp.response;
                    document.getElementById('prediction').innerHTML = response;
                });

                request.fail(function (jqXHR, textStatus) {
                    console.log(`Request failed: " + ${textStatus}`);
                });

            });
        }
    </script>
</body>

</html>