*{
  font-family: sans-serif;
}

body {
  background: url('vintage-wallpaper.png');
  padding-top: 60px;
}

footer {
  color: White
}

.prediction {
  color: #e38c09;
  text-align: center;
  font-size: 150px;
  font-weight: bold;
}

.buttons {
  background-color: #e38c09; 
  /* border: none; */
  color: #10095c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  border-radius: 8px;
  justify-content: flex-end;
  display: flex;
  border-style: solid;
  border-color:  #10095c;
  border-width: 4px;
}

.portfolioHeader {
  background-color: #10095c;
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
  border: 10px solid #e38c09;
  padding: 50px;
  margin: 15px;
  border-radius: 5px;
  display: flex;
}

h1 {
  color:#e38c09;
}

.navbar-brand {
  color: rgb(255, 255, 255);
}

.col-md-4 {
  display:flex; 
  justify-content:center; 
  align-items:center;
}

.label {
  background-color: #e38c09; 
  /* border: none; */
  color: #10095c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  border-radius: 8px;
  justify-content: flex-end;
  display: flex;
  border-style: solid;
  border-color:  #10095c;
  border-width: 4px;
}

.navbar-brand {
  text-align: right;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.navbar-light {
  background-color: #ffffff;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
  background-color: #e38c09;
}

.nav-item {
  color: #e38c09;
  font-weight: bold;
}

.img-large {
  height: 500px;
  width: 600px;
  float: center;
}

p
{color: white;}

footer {
  color: White;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  justify-content: flex-end;
  display: flex;
  border-style: outset;
  border-color: #21159e;
  border-width: 6px;
}

.padding {
  padding-top: 30px;
}